/* Tailwind CSS directives */
@import "tailwindcss";

/* DaisyUI directives */
@plugin "daisyui" {
  themes: all;
  root: ":root";
  logs: false;
}

/* DaisyUI Default Light theme */
@plugin "daisyui/theme" {
  name: "light";
  default: true;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: oklch(98% 0 0);
  --color-base-200: oklch(97% 0 0);
  --color-base-300: oklch(92% 0 0);
  --color-base-content: oklch(24% 0.002 285);
  --color-primary: oklch(44% 0.03 256.802);
  --color-primary-content: oklch(98% 0 0);
  --color-secondary: oklch(92% 0.004 286.32);
  --color-secondary-content: oklch(44% 0.017 285.786);
  --color-accent: oklch(70% 0.191 22.216);
  --color-accent-content: oklch(98% 0.003 247.858);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(62% 0.214 259.815);
  --color-info-content: oklch(98% 0.003 247.858);
  --color-success: oklch(69% 0.17 162.48);
  --color-success-content: oklch(98% 0.003 247.858);
  --color-warning: oklch(79% 0.184 86.047);
  --color-warning-content: oklch(98% 0.003 247.858);
  --color-error: oklch(63% 0.237 25.331);
  --color-error-content: oklch(98% 0.003 247.858);
  --radius-selector: 0.5rem;
  --radius-field: 0.375rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

/* DaisyUI Default Dark theme */
@plugin "daisyui/theme" {
  name: "dark";
  default: false;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(25.33% 0.016 252.42);
  --color-base-200: oklch(23.26% 0.014 253.1);
  --color-base-300: oklch(21.15% 0.012 254.09);
  --color-base-content: oklch(97.807% 0.029 256.847);
  --color-primary: oklch(62% 0.214 259.815);
  --color-primary-content: oklch(96% 0.018 272.314);
  --color-secondary: oklch(65% 0.241 354.308);
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: oklch(77% 0.152 181.912);
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: oklch(14% 0.005 285.823);
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: oklch(71% 0.194 13.428);
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.375rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

/**
 * Body Styles
 *
 * These styles apply to the `<body>` element, setting the base font,
 * background color, text color, and smoothing for a consistent look.
 */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply font-medium text-base-content bg-base-100;
}

/*
=============================
  Containers
=============================
*/

/**
 * Page Container
 *
 * This container wraps the entire page, creating a flexbox layout for the sidebar and main content.
 * It switches between a column layout on smaller screens and a row layout on larger screens.
 */
.page-container {
  @apply flex h-screen flex-col xl:flex-row;
}

/**
 * Main Container
 *
 * This container holds the main content of the page.
 * It occupies the remaining space and is a flexbox container for its children.
 */
.main-container {
  @apply flex flex-1 flex-col;
}

/*
=============================
  Nav bar
=============================
*/
/**
 * Navbar
 *
 * This container holds the navigation bar, which is hidden on larger screens and visible on smaller screens.
 */
.navbar {
  @apply xl:hidden relative w-full
    flex flex-row
    shadow;
}

/**
 * Navbar Toggle Button
 *
 * This button toggles the visibility of the sidebar on small screens.
 * It uses a background image to display a menu icon.
 */
.navbar-toggle-btn {
  background-image: url("../public/assets/icons/menu.svg");
  @apply xl:hidden
    fixed
    w-10 h-10 sm:w-16 sm:h-16
    top-3 left-3 sm:top-2 sm:left-2 lg:top-4 lg:left-4
    bg-no-repeat bg-cover;
}

/**
 * App Logo in Navbar
 *
 * Styles for the application logo within the navbar.
 */
.navbar .app-logo {
  @apply flex-grow justify-center p-0;
}

/*
=============================
  Side bar
=============================
*/

/**
 * Sidebar Container
 *
 * This container holds the sidebar, which is hidden on larger screens and visible on smaller screens.
 * It contains the app logo, search bar, and folder tree.
 */
.sidebar {
  @apply fixed xl:relative
    h-full w-full xl:w-72
    inset-y-0 left-0
    z-50 xl:z-auto
    px-2 sm:px-8 xl:px-0
    flex flex-col
    bg-base-200
    xl:border-r border-base-300
    transform translate-x-0 transition-transform duration-100 ease-in-out;
}

/**
 * Sidebar Collapsed State
 *
 * These styles apply when the sidebar is collapsed (hidden).
 * It uses a translation to move the sidebar off-screen.
 */
.sidebar.collapsed {
  @apply -translate-x-full;
}

/**
 * Sidebar Not Collapsed State
 *
 * These styles apply when the sidebar is not collapsed (visible).
 * It uses a translation to move the sidebar into view.
 */
.sidebar:not(.collapsed) {
  @apply translate-x-0;
}

/**
 * Sidebar Toggle Button
 *
 * This button toggles the visibility of the sidebar on small screens.
 * It uses a background image to display a close icon.
 */
.sidebar-toggle-btn {
  background-image: url("../public/assets/icons/close.svg");
  @apply xl:hidden
    fixed
    z-50
    w-10 h-10 sm:w-16 sm:h-16
    top-4 left-2 sm:top-3 sm:left-4 lg:top-5 lg:left-4
    bg-no-repeat bg-cover;
}

/**
 * App Logo in Sidebar
 *
 * Styles for the application logo within the sidebar.
 */
.sidebar .app-logo {
  @apply max-xl:hidden;
}

/*
=============================
  Logo
=============================
*/

/**
 * App Logo Header
 *
 * This section contains the header for the app logo within the sidebar.
 * It sets the height, shrink property, and font styles.
 */
.app-logo {
  @apply h-16 sm:h-20 lg:h-24 xl:h-16
    flex shrink-0 items-center
    p-4
    font-extrabold text-2xl sm:text-4xl lg:text-5xl xl:text-2xl;
}

/**
 * App Logo Image
 *
 * Styles for the image within the app logo header.
 * It sets the height and width of the image.
 */
.app-logo-img {
  @apply h-10 w-auto
    mr-2;
}

/*
=============================
  Search bar
=============================
*/

/**
 * Searchbar Container
 *
 * This container holds the search bar within the sidebar.
 * It sets the relative positioning, max width, and border.
 */
.searchbar {
  @apply relative
    max-sm:mt-2 px-12 py-2 sm:px-16 sm:py-4 lg:py-6 xl:p-4
    border-b-1 border-base-300
    sm:text-4xl xl:text-base;
}

/**
 * Searchbar Input
 *
 * These styles apply to the input field within the search bar.
 * It sets the width, padding, border, background color, and rounded corners.
 */
.searchbar input {
  @apply w-full
    px-4 py-2
    input rounded-field
    bg-base-100;
}

/**
 * Searchbar Button
 *
 * This button is within the search bar and uses a background image to display a close icon.
 * It sets the absolute positioning, size, background image, and rounded corners.
 */
.searchbar button {
  background-image: url("../public/assets/icons/close.svg");
  @apply absolute
    right-14 top-5 sm:right-20 sm:top-7 lg:top-9 xl:right-6 xl:top-6
    w-4 h-4 sm:w-8 sm:h-8 xl:w-6 xl:h-6
    py-2
    bg-no-repeat bg-cover;
}

/*
=============================
  Folders tree
=============================
*/

/**
 * Folder Tree Container
 *
 * This container holds the folder tree within the sidebar.
 * It sets the overflow property and padding.
 */
.folder-tree {
  @apply overflow-auto
    py-2 px-4 sm:px-8 xl:px-0 xl:pr-4;
}

/**
 * Folder Item
 *
 * These styles apply to each folder item within the folder tree.
 * It sets the margin-left.
 */
.folder-tree .folder {
  @apply ml-4;
}

/**
 * Folder Title
 *
 * These styles apply to the title of each folder item.
 * It sets the flexbox layout, cursor style, padding, and rounded corners.
 */
.folder-tree .folder .title {
  @apply flex items-center
    cursor-pointer
    p-1.5 md:p-4 xl:p-1.5
    rounded-md;
}

/**
 * Selected & Hover State for Folder Item
 *
 * These styles apply when a folder item is selected or hovered.
 * It sets the background color.
 */
.folder-tree .folder.selected > .title,
.folder-tree .folder > .title:hover {
  @apply bg-base-300;
}

/**
 * Folder Icon Container
 *
 * These styles apply to the icon container within each folder item.
 * It sets the margin-right.
 */
.folder-tree .folder .title .icon {
  @apply mr-2 sm:mr-4 xl:mr-2
    w-6 h-6 sm:w-10 sm:h-10 lg:w-12 lg:h-12 xl:w-4 xl:h-4
    bg-no-repeat bg-cover;
}

/**
 * Default Folder Icon
 *
 * These styles apply to the default icon for folder items.
 * It sets the background image.
 */
.folder-tree .folder .title .icon.default {
  background-image: url("../public/assets/icons/folder.svg");
}

/**
 * Selected Folder Icon
 *
 * These styles apply to the icon for selected folder items.
 * It sets the background image.
 */
.folder-tree .folder.selected > .title .icon.default,
.folder-tree .folder:hover > .title .icon.default {
  background-image: url("../public/assets/icons/folder_open.svg");
}

/**
 * Folder Title Text
 *
 * These styles apply to the text within the folder title.
 * It sets the width and text size.
 */
.folder-tree .folder .title .folder-name {
  @apply w-60 sm:w-96 lg:w-auto xl:w-48
    text-xl sm:text-4xl xl:text-base;
}

/*
=============================
  Theme toggle
=============================
*/

/**
 * Theme Toggle Container
 *
 * This container holds the theme toggle button.
 * It sets the relative positioning, min width, padding, flexbox layout, and justification.
 */
.theme-toggle {
  font-family: var(--font-family-icons);
  font-variation-settings: var(--font-icons-settings);
  @apply relative bottom-0
    min-w-full
    py-2 lg:py-4 xl:py-2
    flex justify-center items-center;
}

/**
 * Theme Toggle Button
 *
 * These styles apply to the theme toggle button.
 * It sets the padding, rounded corners, and cursor style.
 */
.theme-toggle button {
  @apply px-2 py-2
    rounded-field
    cursor-pointer;
}

/**
 * Theme Toggle Button Icon
 *
 * These styles apply to the icons within the theme toggle button.
 * It sets the width, height, background image, and rounded corners.
 */
.theme-toggle button div {
  @apply w-10 h-10 sm:w-12 sm:h-12 xl:w-6 xl:h-6
    bg-no-repeat bg-cover;
}
.theme-toggle button .auto-icon {
  background-image: url("../public/assets/icons/monitor.svg");
}
.theme-toggle button .light-icon {
  background-image: url("../public/assets/icons/light_mode.svg");
}
.theme-toggle button .dark-icon {
  background-image: url("../public/assets/icons/dark_mode.svg");
}

/**
 * Selected & Hover State for Theme Toggle Button
 *
 * These styles apply when the theme toggle button is selected or hovered.
 * It sets the background color.
 */
.theme-toggle button.selected,
.theme-toggle button:hover {
  @apply bg-base-300;
}

/*
=============================
  Card Grid
=============================
*/

/**
 * Card Grid Container
 *
 * This container holds the cards in a grid layout.
 * It sets the gap and padding.
 */
.card-grid {
  @apply grid gap-1
    xl:p-6;
}
.card-grid .divider {
  @apply my-1 border-0 border-base-300;
}
.card-grid .folder-grid {
  @apply p-4
    grid grid-cols-3 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-4;
}
.card-grid .bookmark-grid {
  @apply p-4
    grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4;
}

/*
=============================
  Bookmark Card
=============================
*/

/**
 * Bookmark Card Container
 *
 * This container holds the bookmark card.
 * It sets the padding, rounded corners, flexbox layout, shadow, hover shadow, and cursor style.
 */
.bookmark-card {
  @apply p-6 rounded-box
    flex items-center
    shadow hover:shadow-lg transition
    bg-base-100 hover:bg-base-200
    border border-base-200
    shadow-base-300
    cursor-pointer;
}

/**
 * Bookmark Icon
 *
 * These styles apply to the icon within the bookmark card.
 * It sets the width, height, margin-bottom, and background image.
 */
.bookmark-card .icon {
  background-image: url("../public/assets/icons/language.svg");
  @apply w-12 h-12 mb-2
    bg-no-repeat bg-cover;
}

/**
 * Bookmark Icon Image
 *
 * Styles for the image within the bookmark card.
 * It sets the width and height of the image.
 */
.bookmark-card .icon-image,
.bookmark-card .icon {
  @apply min-w-12 min-h-12  mb-2;
}

/**
 * Bookmark Information Container
 *
 * This container holds the information within the bookmark card.
 * It sets the flexbox layout, overflow property, and margin-left.
 */
.bookmark-card .info {
  @apply ml-4 flex flex-col overflow-hidden;
}

/**
 * Bookmark Title
 *
 * These styles apply to the title within the bookmark card.
 * It sets the margin-bottom, text size, and font weight.
 */
.bookmark-card .title {
  @apply mb-2 text-lg font-bold truncate;
}

/**
 * Bookmark URL
 *
 * These styles apply to the URL within the bookmark card.
 * It sets the text size and text color.
 */
.bookmark-card .url {
  @apply text-xs truncate text-base-content;
}

/*
=============================
  Folder Card
=============================
*/

/**
 * Folder Card Container
 *
 * This container holds the folder card.
 * It sets the padding, rounded corners, flexbox layout, hover shadow, and cursor style.
 */
.folder-card {
  @apply p-4 rounded-box
    flex flex-col justify-start items-center
    hover:shadow-lg cursor-pointer;
}

/**
 * Folder Icon
 *
 * These styles apply to the icon within the folder card.
 * It sets the width, height, margin-bottom, and background image.
 */
.folder-card .icon {
  background-image: url("../public/assets/icons/folder.svg");
  @apply w-24 h-24 mb-2
    bg-no-repeat bg-cover;
}

/**
 * Folder Icon Hover State
 *
 * These styles apply when the folder card is hovered.
 * It sets the background image.
 */
.folder-card:hover .icon {
  background-image: url("../public/assets/icons/folder_open.svg");
}

/**
 * Folder Title
 *
 * These styles apply to the title within the folder card.
 * It sets the text size and text alignment.
 */
.folder-card .title {
  @apply text-xs sm:text-lg lg:text-xl xl:text-sm text-center;
}
