/* Import Google Fonts and Material Icons */
@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

/* Tailwind CSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define custom CSS variables for fonts */
:root {
  --font-family-sans: Inter, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, "Apple Color Emoji", Arial,
    sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
  --font-family-mono: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
  --font-family-icons: "Material Symbols Outlined";
  --font-icons-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
  --font-icons-settings-filled: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 24;
  --font-family-emoji: "Apple Color Emoji", "Segoe UI Emoji", NotoColorEmoji, "Noto Color Emoji", "Segoe UI Symbol",
    "Android Emoji", EmojiSymbols;
}

/* Base styles for the body element */
body {
  margin: 0;
  font-family: var(--font-family-sans);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @apply font-medium text-slate-700 dark:text-slate-400 bg-white dark:bg-slate-900;
}

/* Styles for code elements */
code {
  font-family: var(--font-family-mono);
}

/*
=============================
  Containers
=============================
*/

/* Container for the entire page */
.page-container {
  @apply flex h-screen flex-col xl:flex-row;
}

/* Main content container */
.main-container {
  @apply flex flex-1 flex-col;
}

/*
=============================
  Nav bar
=============================
*/
.navbar {
  @apply xl:hidden relative w-full
    flex flex-row;
}

/* Button to toggle the sidebar visibility on small screens */
.navbar-toggle-btn {
  font-family: var(--font-family-icons);
  @apply xl:hidden
    fixed
    top-3 left-3 sm:top-2 sm:left-2 lg:top-4 lg:left-4
    text-4xl sm:text-6xl;
}

/* Icon for the sidebar toggle button when sidebar is collapsed */
.navbar-toggle-btn::before {
  content: "menu";
}

.navbar .app-logo {
  @apply flex-grow justify-center p-0;
}

/*
=============================
  Side bar
=============================
*/

/* Sidebar container */
.sidebar {
  @apply fixed xl:relative
    h-full w-full xl:w-64
    inset-y-0 left-0
    z-50 xl:z-auto
    px-2 sm:px-8 xl:px-0
    flex flex-col
    bg-zinc-100 dark:bg-gray-800
    xl:border-r border-slate-900/10 dark:border-slate-300/10
    transform translate-x-0 transition-transform duration-100 ease-in-out;
}

/* Sidebar when collapsed */
.sidebar.collapsed {
  @apply -translate-x-full;
}

/* Sidebar when not collapsed */
.sidebar:not(.collapsed) {
  @apply translate-x-0;
}

/* Button to toggle the sidebar visibility on small screens */
.sidebar-toggle-btn {
  font-family: var(--font-family-icons);
  @apply xl:hidden
    fixed
    z-50
    top-4 left-1 sm:top-3 sm:left-3 lg:top-5 lg:left-4
    text-4xl sm:text-6xl;
}
/* Icon for the sidebar toggle button when sidebar is not collapsed */
.sidebar-toggle-btn::before {
  content: "close";
}

.sidebar .app-logo {
  @apply max-xl:hidden;
}

/*
=============================
  Logo
=============================
*/

/* Header section within the sidebar */
.app-logo {
  @apply h-16 sm:h-20 lg:h-24 xl:h-16
    flex shrink-0 items-center
    p-4
    font-extrabold text-2xl sm:text-4xl lg:text-5xl xl:text-2xl;
}

/* Logo within the sidebar header */
.app-logo-img {
  @apply h-10 w-auto
    mr-2;
}

/*
=============================
  Search bar
=============================
*/

/* Search bar container within the sidebar */
.searchbar {
  @apply relative
    max-sm:mt-4 px-8 sm:px-16 sm:py-4 lg:py-6 xl:p-4
    sm:text-4xl xl:text-base;
}

/* Input field within the search bar */
.searchbar input {
  @apply w-full
    px-4 py-2
    border border-gray-200 dark:border-gray-800 rounded-md
    bg-gray-50 dark:bg-gray-900;
}

/* Button within the search bar */
.searchbar button {
  font-family: var(--font-family-icons);
  font-variation-settings: var(--font-icons-settings-filled);
  @apply absolute
    right-6 top-4
    py-2
    text-lg text-gray-500;
}

/* Icon for the search bar button */
.searchbar button::before {
  content: "close";
}

/*
=============================
  Folders tree
=============================
*/

/* Folder tree container within the sidebar */
.folder-tree {
  @apply overflow-auto
    py-2 sm:px-8 xl:px-0 xl:pr-4
    sm:text-4xl xl:text-sm;
}

/* Folder item within the folder tree */
.folder-tree .folder {
  @apply ml-4;
}

/* Title of the folder item */
.folder-tree .folder .title {
  @apply flex items-center cursor-pointer p-2 rounded-md;
}

/* Selected & Hover state for folder item*/
.folder-tree .folder.selected > .title,
.folder-tree .folder > .title:hover {
  @apply bg-zinc-200 dark:bg-gray-900;
}

/* Icon container within the folder item */
.folder-tree .folder .title .icon {
  @apply mr-2;
}

/* Default icon for folder items */
.folder-tree .folder .title .icon.default {
  font-family: var(--font-family-icons);
  font-variation-settings: var(--font-icons-settings-filled);
}

/* Icon for default folder items */
.folder-tree .folder .title .icon.default:before {
  content: "folder";
}

/* Icon for selected folder items */
.folder-tree .folder.selected > .title .icon.default:before {
  content: "folder_open";
}

/*
=============================
  Theme toggle
=============================
*/

/* Theme toggle button container */
.theme-toggle {
  font-family: var(--font-family-icons);
  font-variation-settings: var(--font-icons-settings);
  @apply relative bottom-0
    h-16 min-w-full
    py-2
    flex justify-center items-center;
}

/* Theme toggle button */
.theme-toggle button {
  @apply px-4 py-2
    rounded-md
    text-3xl lg:text-lg text-slate-700 dark:text-slate-400
    cursor-pointer;
}

/* Selected & Hover state for theme toggle button */
.theme-toggle button.selected,
.theme-toggle button:hover {
  @apply bg-gray-200 dark:bg-slate-900;
}

/*
=============================
  Card Grid
=============================
*/

/* Grid container for cards */
.card-grid {
  @apply grid gap-1
    xl:p-6;
}
.card-grid .divider {
  @apply my-1 border-gray-200 dark:border-gray-800;
}
.card-grid .folder-grid {
  @apply p-4
    grid grid-cols-3 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-6 gap-4;
}
.card-grid .bookmark-grid {
  @apply p-4
    grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4;
}

/*
=============================
  Bookmark Card
=============================
*/

/* Bookmark card container */
.bookmark-card {
  @apply p-6 rounded-lg
    flex items-center
    shadow hover:shadow-lg transition
  bg-white dark:bg-gray-800 hover:bg-gray-100 hover:dark:bg-gray-700
    cursor-pointer;
}

/* Icon within the folder card */
.bookmark-card .icon {
  font-family: var(--font-family-icons);
  font-variation-settings: var(--font-icons-settings-filled);
  @apply text-4xl mb-2;
}

/* Icon for the folder card */
.bookmark-card .icon:before {
  content: "language";
}

/* Icon within the bookmark card */
.bookmark-card .icon-image {
  @apply w-12 h-12 mb-2;
}

/* Information container within the bookmark card */
.bookmark-card .info {
  @apply ml-4 flex flex-col overflow-hidden;
}

/* Title within the bookmark card */
.bookmark-card .title {
  @apply mb-2 text-lg font-bold;
}

/* URL within the bookmark card */
.bookmark-card .url {
  @apply text-xs text-gray-400 dark:text-gray-600;
}

/*
=============================
  Folder Card
=============================
*/

/* Folder card container */
.folder-card {
  @apply p-4 rounded-lg
    flex flex-col justify-start items-center
    hover:shadow-lg cursor-pointer;
}

/* Icon within the folder card */
.folder-card .icon {
  font-family: var(--font-family-icons);
  font-variation-settings: var(--font-icons-settings-filled);
  @apply text-8xl mb-2;
}

/* Icon for the folder card */
.folder-card .icon:before {
  content: "folder";
}

/* Hover state for the folder card icon */
.folder-card:hover .icon:before {
  content: "folder_open";
}

/* Title within the folder card */
.folder-card .title {
  @apply text-xs text-center;
}
